@import url();
@import url();

.mainDashboard .icon {
    width: 4.4rem;
    height: 4.4em;
    background-position: 50%;
}



.mainDashboard {
    background-color: #e5e5e5;
    min-width: calc(100% - 550px);
    min-height: 100%;
}

.dashboardHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #32383f;
    font-weight: bold;
}

.dashboardHeader p {
    font-size: 5em;
    margin: 2%;
}

.sidebarButton {
    background-color: #e5e5e5;
    border-radius: 1rem;
    border: none;
    display: none;
    width: 4.4rem;
    height: 4.4em;
}

.sidebarButton:hover {
    background-color: #c6c6c6;
}

.summary {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    min-height: 12vw;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.summary div {
    border-radius: 15px;
    min-width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 16px;
    font-weight: 400;
    padding: 1% 5% 0 5%;
}

.summary .sum {
    background: linear-gradient(65.44deg, #129c9c 0%, #a773ff 94.64%);
}

.summary .sum p {
    font-size: 20px;
    color: #c5bcbc;
    margin: auto 0 0 0;
}

.summary .sum h1 {
    color: #ffffff;
}

.summary .send,
.summary .withdraw {
    background-color: #ffffff;
}

.summary .send p,
.summary .withdraw p {
    font-size: 20px;
    color: #787878;
    margin: auto 0 0 0;
}

.summary .send h1,
.summary .withdraw h1 {
    color: #32383f;
}

.mainDashboard .noti {
    margin-left: 5%;
    margin-right: 5%;
    min-height: 60px;
    border-radius: 15px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}

.interestrateTable h1 {
    display: flex;
    font-size: 30px;
    justify-content: center;
}

th {
    height: 20px;
    font-size: 20px;
    font-weight: 700;
}