<div id="main">
    <form id="form" method="post" action="/login">
        <div id="title">Sổ tiết kiệm sinh viên</div>
        <div id="sub_title">Welcome back, please login</div>
        <div id="form_input">
            <div id="username_box">
                <input id="username" type="text" placeholder="USERNAME" name="username" maxlength="15">
                <div id="username_warning"></div>
            </div>
            <div id="pasword_box">
                <input id="password" type="password" placeholder="PASSWORD" name="password" maxlength="15">
                <div id="pass_warning"></div>
            </div>
        </div>
        <div id="forgot_pass">Quên mật khẩu?</div>
        <div id="btn_side">
            <input id="loginBtn" type="submit" value="Đăng nhập"></input>
            {{!-- <a href="/register"><button id="registerBtn" type="button">Register</button></button></a> --}}
        </div>

    </form>
</div>