<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://printjs-4de6.kxcdn.com/print.min.css' rel='stylesheet'>
    <script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Lexend Giga' rel='stylesheet'>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <title>{{title}}</title>
</head>

<body>
    {{{body}}}

    <script src="../js/{{script}}"></script>

</body>

</html>