<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/icon.css">
    <link rel="stylesheet" href="/css/workinglayout.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/modal.css">
    <link rel="icon" href="../../assets/favicon/piggy-bank.png" type="image/x-icon">
    <link rel="stylesheet" href="../../../package/css/fontawesome.css" />
    <link rel="stylesheet" href="../../../package/css/brands.css" />
    <link rel="stylesheet" href="../../../package/css/solid.css" />
    <link rel="stylesheet" href="../../../package/css/regular.css" />
    {{#each style}}
    <link rel="stylesheet" href="/css/{{this}}">
    {{/each}}
    <link href='https://fonts.googleapis.com/css?family=Lexend Giga' rel='stylesheet'>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <title>{{title}}</title>
</head>

<body>
    <div class="container">
        {{> navbar}}
        {{{body}}}
    </div>
    {{#if script}}
    <script src="/js/{{script}}"></script>{{/if}}
    {{#if form}}
    <script src="/js/formhandle.js"></script>{{/if}}
    <script src="/js/sidebar.js"></script>
</body>

</html>