<div class="main">
    <div class="mainHeader">
        <button type="button" class="sidebarButton">
            <i class="fa-solid fa-wallet fa-2xl"></i>
        </button>
        <p>Báo cáo doanh số hoạt động ngày</p>
    </div>
    <div class="wrapper">
        <form action="#" id="form" method="POST">
            <div class="dateBox box">
                <label for="dateID">Ngày:</label>
                <input type="date" id="dateID" name="dateID">
            </div>
            <div id="btn_side">
                <button id="confirmBtn" type="submit" value="Tạo">Tạo</button>
                <a href="/home"><button id="gobackBtn" type="button">Quay lại</button></button></a>
            </div>
        </form>
    </div>
    <div class="hide_table" id="hide_table">
        <table id="table" style="width: 80%; margin-left: auto; margin-right: auto; margin-top: 120px;">
            <tr>
                <th>STT</th>
                <th>Loại tiết kiệm</th>
                <th>Thu</th>
                <th>Tiền rút</th>
                <th>Chênh lệch</th>
            </tr>
            <tbody id="tbody">

            </tbody>
        </table>
    </div>
    <form action="#" id="report" method="POST">
        <div class="summaryreport">
            <p>Tổng kết doanh số hoạt động ngày</p>
        </div>
        <div class="getBox box">
            <label for="get">Tổng thu:</label>
            <input type="text" id="get" name="get" readonly>
        </div>
        <div class="payBox box">
            <label for="pay">Tổng tiền rút:</label>
            <input type="text" id="pay" name="pay" readonly>
        </div>
        <div class="benefitBox box">
            <label for="benefit">Tổng chênh lệch:</label>
            <input type="text" id="benefit" name="benefit" readonly>
        </div>
    </form>
</div>