<div class="main">
    <div class="mainHeader">
        <button type="button" class="sidebarButton">
            <i class="fa-solid fa-wallet fa-2xl"></i>
        </button>
        <p>Tra cứu phiếu gửi tiền</p>
    </div>
    <div class="wrapper">
        <form action="#" id="form" method="POST">
            <div class="citizenIDBox box">
                <label for="citizenID">CMND/CCCD:</label>
                <input type="text" id="citizenID" name="citizenID" maxlength="12">
            </div>
            <div class="depositIDBox box">
                <label for="depositID">Mã phiếu gửi:</label>
                <input type="text" id="depositID" name="depositID" maxlength="80">
            </div>
            <div class="dateBox box">
                <label for="dateID">Ngày mở:</label>
                <input type="date" id="dateID" name="dateID">
            </div>
            <div id="btn_side">
                <button id="confirmBtn" type="submit" value="Tìm">Tìm</button>
                <a href="./home"><button id="gobackBtn" type="button">Trở lại</button></button></a>
            </div>
        </form>
    </div>
    <div class="hide_table" id="hide_table">
        <table id="table" style="width: 80%; margin-left: auto; margin-right: auto; margin-top: 120px;">
            <tr>
                <th>Mã phiếu gửi</th>
                <th>Mã khách hàng</th>
                <th>Tên khách hàng</th>
                <th>Số dư hiện tại</th>
                <th>Ngày mở</th>
                <th>Chi tiết</th>
            </tr>
            <tbody id="tbody">

            </tbody>


        </table>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="subHeader">
                <span class="close">&times;</span>
                <p>Chi tiết phiếu gửi</p>
            </div>
            <form action="#" id="forminfo" method="POST">
                <div class="customerHeader">
                    <p>Thông tin khách hàng</p>
                </div>
                <div class="customerBody">
                    <div class="customerID smallbox">
                        <label for="customerID">Mã người gửi:</label>
                        <input type="text" id="customerID" name="customerID" readonly>
                    </div>
                    <div class="nameID smallbox">
                        <label for="nameID">Họ và tên:</label>
                        <input type="text" id="nameID" name="nameID" maxlength="80">
                    </div>
                    <div class="citizenID smallbox">
                        <label for="citizenID">CCCD/CMND:</label>
                        <input type="text" id="citizenID" name="citizenID" maxlength="12">
                    </div>
                    <div class="phoneID smallbox">
                        <label for="phoneID">Điện thoại:</label>
                        <input type="text" id="phoneID" name="phoneID" maxlength="11">
                    </div>
                    <div class="addressID smallbox">
                        <label for="addressID">Địa chỉ:</label>
                        <input type="text" id="addressID" name="addressID" maxlength="80">
                    </div>
                </div>
                <div class="depositHeader">
                    <p>Thông tin phiếu gửi</p>
                </div>
                <div class="depositBody">
                    <div class="depositID smallbox">
                        <label for="depositID">Mã phiếu gửi:</label>
                        <input type="text" id="depositID" name="depositID" readonly>
                    </div>
                    <div class="moneyID smallbox">
                        <label for="moneyID">Tiền gửi:</label>
                        <input type="money" id="moneyID" name="moneyID" readonly>
                    </div>
                    <div class="deadlineID smallbox">
                        <label for="deadlineID">Kỳ hạn:</label>
                        <input type="text" id="deadlineID" name="deadlineID" readonly>
                    </div>
                    <div class="rateID smallbox">
                        <label for="rateID">Lãi suất:</label>
                        <input type="number" id="rateID" name="rateID" readonly>
                    </div>
                    <div class="benefitID smallbox">
                        <label for="benefitID">Tiền lãi:</label>
                        <input type="money" id="benefitID" name="benefitID" readonly>
                    </div>
                    <div class="remainderID smallbox">
                        <label for="remainderID">Số dư hiện tại:</label>
                        <input type="money" id="remainderID" name="remainderID" readonly>
                    </div>
                    <div class="noDepositDays smallbox">
                        <label for="noDepositDays">Số ngày gửi:</label>
                        <input type="number" id="noDepositDays" name="noDepositDays" readonly>
                    </div>
                    <div class="openDay smallbox">
                        <label for="openDay">Ngày gửi:</label>
                        <input id="openDay" name="openDay" readonly>
                    </div>
                    <div class="getID smallbox">
                        <label for="getID">Người rút:</label>
                        <input type="text" id="getID" name="getID">
                    </div>
                    <div class="dateID smallbox">
                        <label for="dateID">Ngày rút:</label>
                        <input id="dateID" name="dateID" readonly>
                    </div>
                </div>
                <div id="btn_side">
                    <button id="changeBtn" type="submit" value="Sửa">Sửa</button>
                    <button id="deleteBtn" type="submit" value="Xóa">Xóa</button>
                </div>
            </form>
        </div>
    </div>
</div>