@import url();
@import url();

.mainDashboard .icon {
    width: 4.4rem;
    height: 4.4em;
    background-position: 50%;
}



.mainDashboard {
    background-image: linear-gradient(to bottom, #FFFFFF, #aaeaff);
    background-color: #e5e5e5;
    min-width: calc(100% - 550px);
    min-height: 100%;
}

.dashboardHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #32383f;
    font-weight: bold;
}

.dashboardHeader p {
    font-size: 5em;
    margin: 2%;
}

.sidebarButton {

    background-color: #e5e5e5;
    border-radius: 1rem;
    border: none;
    display: none;
    width: 10%;
}

/* .sidebarButton:hover {
background-color: #c6c6c6;
} */

.summary {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    min-height: 12vw;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.summary div {
    border-radius: 15px;
    min-width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 16px;
    font-weight: 400;
    padding: 1% 5% 0 5%;
}

.summary .sum {
    background: linear-gradient(to top, #d01b1b, #ff4242);
    /* background-image: linear-gradient(135deg, #ffffff, #ff7a68); */
    /* background: linear-gradient(65.44deg, #129c9c 0%, #a773ff 94.64%); */
}

.summary .sum p {
    font-size: 20px;
    color: #c5bcbc;
    margin: auto 0 0 0;
}

.summary .sum h1 {
    color: #ffffff;
}

.summary .send,
.summary .withdraw {
    background-color: #ffffff;
}

.summary .send p,
.summary .withdraw p {
    font-size: 20px;
    color: #787878;
    margin: auto 0 0 0;
}

.summary .send h1,
.summary .withdraw h1 {
    color: #32383f;
}

.mainDashboard .noti {
    margin-left: 5%;
    margin-right: 5%;
    min-height: 60px;
    border-radius: 15px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}

.interestrateTable h1 {
    display: flex;
    font-size: 30px;
    justify-content: center;
}

th {
    height: 20px;
    font-size: 20px;
    font-weight: 700;
}

.box {
    padding: 1px 5%;
    display: grid;
    grid-template-columns: 20% 20% 20%;
    /* box-shadow: 0px 4px 4px 0px #00000040; */
}

.box label {
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: bold;
}

.box #money {
    /* box-sizing: border-box; */
    border-radius: 5px;
    padding: 8px 20px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.box #changeBtn {
    height: 50px;
    width: 120px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    background: linear-gradient(65.44deg, #d01b1b 0%, #ff4242 94.64%);
    border: 0px;
    border-radius: 20px;
    margin: 0 50px;
}

input {
    height: 25px;
}