.iconSum {
    background-image: url('../icon/sum.svg');
    background-size: contain;
    background-repeat: no-repeat;
}


.iconSend {
    background-image: url('../icon/send.svg');
    background-size: contain;
    background-repeat: no-repeat;
}


.iconWithdraw {
    background-image: url('../icon/withdraw.svg');
    background-size: contain;
    background-repeat: no-repeat;
}


.iconLogout {
    background-image: url('../icon/logout.svg');
    background-size: contain;
    background-repeat: no-repeat;
}