.main .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.main .modal-content {
    background-color: #e7f9ff;
    background-image: radial-gradient(circle, #ffffff, #e7f9ff, #95d2ec);
    margin: auto;
    margin-top: 15px;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.main .close {
    color: #aaaaaa;
    position: absolute;
    z-index: 1;
    right: 2%;
    font-size: 4em;
    font-weight: bold;
    border: 2px #000;
}

.main .close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.main .modal-content .subHeader {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: bold;
    background-color: #d41317;
}

.main .modal-content .subHeader p {
    font-size: 30px;
    margin: 1.5%;
}

.main .modal-content .customerBody .smallbox {
    padding: 0.5em 15%;
    display: grid;
    grid-template-columns: 30% 70%;
    font-size: 18px;
    font-weight: bold;
    /* box-shadow: 0px 4px 4px 0px #00000040; */
}

.main .modal-content .customerBody .smallbox input:not([type="radio"]) {
    /* box-sizing: border-box; */
    border-radius: 5px;
    padding: 8px 20px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.main .modal-content .customerBody .smallbox input:read-only {
    /* color:rgb(208, 203, 203); */
    background-color: #cccccc;
}

.main .modal-content .customerHeader {
    display: flex;
    justify-content: left;
    align-items: left;
    color: #32383f;
    font-weight: bold;
}

.main .modal-content .customerHeader p {
    font-size: 25px;
    margin: 2%;
}

.main .modal-content .depositBody .smallbox {
    padding: 0.5em 15%;
    display: grid;
    grid-template-columns: 30% 70%;
    font-size: 18px;
    font-weight: bold;
    /* box-shadow: 0px 4px 4px 0px #00000040; */
}

.main .modal-content .depositBody .smallbox input:not([type="radio"]) {
    /* box-sizing: border-box; */
    border-radius: 5px;
    padding: 8px 20px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.main .modal-content .depositBody .smallbox input:read-only {
    /* color:rgb(208, 203, 203); */
    background-color: #cccccc;
}

.main .modal-content .depositHeader {
    display: flex;
    justify-content: left;
    align-items: left;
    color: #32383f;
    font-weight: bold;
}

.main .modal-content .depositHeader p {
    font-size: 25px;
    margin: 2%;
}

.main .modal-content div {
    display: grid;
    grid-template-columns: 50% 50%;
}

.main .modal-content #btn_side {
    margin-top: 0.5em;
    display: flex;
    justify-content: end;
    margin-right: 8%;
}

.main .modal-content #btn_side button,
.main .modal-content #btn_side input {
    height: 50px;
    width: 120px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    background: linear-gradient(65.44deg, #d01b1b 0%, #ff4242 94.64%);
    border: 0px;
    border-radius: 20px;
    margin: 0px 10px;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}