.main #report {
    font-size: 18px;
    color: #32383F;
    margin-top: 5em;
}

.main #report .box {
    padding: 0.5em 15%;
    display: grid;
    grid-template-columns: 30% 70%;
    /* box-shadow: 0px 4px 4px 0px #00000040; */

}
.main #report .box input:not([type="radio"]){
    /* box-sizing: border-box; */
    border-radius: 5px;
    padding: 8px 20px;
    box-shadow: 0px 4px 4px 0px #00000040;
}
.main #report .box input:read-only{
    /* color:rgb(208, 203, 203); */
    background-color: #C6C6C6;
}